
<head>
    <h3 style="color:white;">What is this site?</h3>
    <br>
    <p style="color:grey;">This site allows users to bookmark their favorite videos, images, or songs and view them right on the page! Any user may contribute to this page at the moment. Note that this web page was created for learning purposes only! More features coming soon! </p>
    <div style="color:#FFDF50;"><center>Hover over me!!!</center></div></p>
    </head>

<body>   
    <link rel="stylesheet" href="styles/threeprac.css">
    <script src="js/threeprac.js"></script>
    <canvas id="sky"></canvas>
    
    <audio id="audio">
        <source src="ukulele.mp3"></source>
    </audio>
    <div class="egg" id="egg">
      <div class="chicky">
        <div class="face">
          <div class="eyes"></div>
          <div class="mouth"></div>
        </div>
      </div>
    </div>
    
        <script>
        $( document ).ready(function() {
            var audio = $("audio")[0];
            $("#egg").hover(function() {
              audio.play();
            },function(){
              audio.pause();
            });
            
        });
    </script>
</body>
