    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/copy.js"></script>
<style>

</style>

<a class="btn btn-warning" href="/#/create/movie"><span class="glyphicon glyphicon-plus"></span> Add Video</a>
<br>
<br>
<input class="col-md-12" style="padding:11px;" type="text" ng-model="search" placeholder="Search"/> 
<table class="table table-striped">
  <thead>
    <tr><th>Title</th>
    <th>URL</th>
    <th>Copy/Edit/Delete</th>
  </tr></thead>
  <tbody> 
    <tr ng-repeat="movie in movies | filter:search | limitTo:-100 | orderBy:'time':true">
    
      <td class="col-md-4 col-xs-4"><a class="col-xs-12" ng-href="/#/movie/{{ movie._id }}">{{ movie.title }}</a></td>
      <td class="col-md-4 col-xs-4">{{ movie.url }}</td>
      <td class="col-md-4 col-xs-4">
        <div class="button-group">
             <!-- Create clipboard button here -->
            <button class="btn btn-warning col-md-4 col-xs-12" data-clipboard-text="{{ movie.url }}">Copy</button>

            <!-- Instantiate clipboards -->
            <script>
            var clipboard = new Clipboard('.btn');
            </script>

            <a ng-href="/#/movie/{{ movie._id }}/edit" class="btn btn-success col-md-4 col-xs-12">Edit</a>

            <a ng-href="/#/movie/{{ movie._id }}/delete" class="btn btn-danger col-md-4 col-xs-12">Delete</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
